extends layout

block content
    .contenido-principal
        h1 #{namePage} - #{projectUrl.name}

        pre= vardump(projectUrl.id)

        .contenedor-acciones
            a(href=`/project/edit/${projectUrl.id}` class="boton") Edit Project
            button#eliminar-proyecto( data-project-url=projectUrl.url type="button" class="boton eliminar") Delete Project